body {
  /*background: #fafafa;
  color: #333333;
  margin-top: 5rem;*/
  background: #f3e0e2; 
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  font-family: 'Montserrat', sans-serif;
  height: 100vh; 
  margin: -20px 0 50px; 
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #865f89;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/*.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}*/
.form {
position: relative; 
z-index: 1; 
background: #FFFFFF;
max-width: 360px; 
margin: 0 auto 100px;
padding: 4px; 
text-align: center; 
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.input-group{
margin-top: 50px; 
margin-bottom: 50px;
width:40%;
margin-left: auto;
margin-right: auto; 
}

.center{
display: block;
margin-left: 0;
margin-right: 0;
width: 100%;
}
.form .message a {
color: #4CAF50;
text-decoration: none; 
}
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
